.flex-container{
    display:flex;
    background: lightblue;
    padding: 16px;
    border: 4px solid blue;
    flex-direction: column;
    /*gap: 8px;*/
    /*width: 200px;*/
    /*justify-content: space-between;*/
}
.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 100px;
    flex:auto;
    padding: 14px;
    /*width: 250px;*/
}
/*.flex-container .two{
    flex-shrink: 0;
}*/